# Specifically for testing
-r requirements-dev.txt
coverage>=4.2
flake8==3.5.0
flake8_docstrings==1.3.0
flake8-per-file-ignores==0.5
mock==2.0.0
pytest==3.4.2
pytest-asyncio==0.8.0
pytest-cov==2.5.1
pytest-mock
tox
virtualenv
